*.code-workspace
*.bak
*.log
*.pdf
*.root

# Python
__pycache__
.ipynb_checkpoints

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pcm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# VSCode
.vscode
