# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld       # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         production  # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            general
USER                          bgrube

# JOB RESOURCES
NCORES                        10
DISK                          30GB
RAM                           12GB
TIMELIMIT                     2hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       04
BATCH                         02
WORKFLOW                      test_[RUNPERIOD]_ver[VERSION]_batch[BATCH]

# JOB, SCRIPT CONTROL
SUBMITDIR                     /work/halld/bgrube/ProtonTrackEfficiency/ReactionEfficiency
ENVFILE                       [SUBMITDIR]/env_HALLD_MY_launch.sh
SCRIPTFILE                    [SUBMITDIR]/script.sh
#RCDB_QUERY                    "@is_production and @status_approved"  # comment-out for all runs
JANA_CONFIG                   [SUBMITDIR]/ReactionEfficiency.conf
CACHE_PIN_DAYS                0                                       # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /cache/halld/RunPeriod-[RUNPERIOD]/recon/ver[VERSION]/REST

# FOR FULL RECON LAUNCHES
OUTPATH           ProtonTrackEfficiency/ReactionEfficiency/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]
OUTDIR_LARGE      /volatile/halld/home/[USER]/[OUTPATH]  # REST, skims, hists, trees
OUTDIR_SMALL      /farm_out/[USER]/[OUTPATH]             # log files, IDXA
