PLUGINS monitoring_hists,ReactionEfficiency
NTHREADS 16
REACTIONEFFIC:MINKINFITFOM 0.1  # minimum chi^2 of kinematic fit
# semicolon-separated list of reactions to process; if option is not defined, all reactions are processed
# REACTIONEFFIC:ONLY_REACTIONS pippippimpimmissprot__B1_T1_U1_Effic;omegamissprot__B1_T1_U1_Effic
# REACTIONEFFIC:ONLY_REACTIONS pippippimpimmissprot__B1_T1_U1_Effic
REACTIONEFFIC:ONLY_REACTIONS omegamissprot__B1_T1_U1_Effic
REST:JANACALIBCONTEXT calibtime=2018-07-27-17-14-00  # fixes "Error in DEventSourceREST - tagger microscope could not look up column for energy ..."; see https://github.com/JeffersonLab/halld_recon/issues/717 and https://halldweb.jlab.org/wiki-private/index.php/Spring_2017_Dataset_Summary; value taken from log files
