PLUGINS monitoring_hists,ReactionEfficiency
NTHREADS 16
REACTIONEFFIC:MINKINFITFOM 0.1  # minimum chi^2 of kinematic fit
# semicolon-separated list of reactions to process; if option is not defined, all reactions are processed
# # process only reaction gamma p -> pi+ pi- pi+ pi- (missing proton)
# REACTIONEFFIC:ONLY_REACTIONS pippippimpimmissprot__B1_T1_U1_Effic
# process only reaction gamma p -> omega(782) (missing proton)
REACTIONEFFIC:ONLY_REACTIONS omegamissprot__B1_T1_U1_Effic
# # process reactions
# #     gamma p -> pi+ pi- pi+ pi- (missing proton)
# #     gamma p -> omega(782) (missing proton)
# REACTIONEFFIC:ONLY_REACTIONS pippippimpimmissprot__B1_T1_U1_Effic;omegamissprot__B1_T1_U1_Effic
