PLUGINS monitoring_hists,ReactionEfficiency
NTHREADS 16
REACTIONEFFIC:MINKINFITFOM 0.1  # minimum chi^2 of kinematic fit
REACTIONEFFIC:ONLY_REACTIONS pippippimpimmissprot__B1_T1_U1_Effic  # semicolon-separated list of reactions to process; if option is not defined, all reactions are processed
REST:JANACALIBCONTEXT calibtime=2019-07-21-12-00-00  # fixes "Error in DEventSourceREST - tagger microscope could not look up column for energy ..."; see https://github.com/JeffersonLab/halld_recon/issues/717 and https://halldweb.jlab.org/wiki-private/index.php/Fall_2018_Dataset_Summary#Full_REST_Production
