# 1) Setup workflow:
# swif2 create ReactionEfficiency_RD_2017_01-ver03
# swif2 create ReactionEfficiency_RD_2018_01-ver02
# swif2 create ReactionEfficiency_RD_2018_08-ver02
# workflow name has to match WORKFLOW entry in this file
#
# 2) Register jobs:
# for run periods see https://halldweb.jlab.org/wiki-private/index.php/GlueX_Phase-I_Dataset_Summary
# and https://halldweb.jlab.org/wiki-private/index.php/GlueX_Phase-II_Dataset_Summary
# and https://halldweb.jlab.org/wiki/index.php/Run_Periods
# run in one-job-per-file mode
# Spring 2017: 347 runs
# launch.py --verbose=True jobs_ReactionEfficiency_RD.config 30274 31057 &> ReactionEfficiency_RD_2017_01-ver03.log
# Spring 2018: 548 runs
# launch.py --verbose=True jobs_ReactionEfficiency_RD.config 40856 42559 &> ReactionEfficiency_RD_2018_01-ver02.log
# Fall 2018: 498 runs
# launch.py --verbose=True jobs_ReactionEfficiency_RD.config 50685 51768 &> ReactionEfficiency_RD_2018_08-ver02.log
#
# 3) Run workflow:
# swif2 run -workflow ReactionEfficiency_RD_2017_01-ver03
# swif2 run -workflow ReactionEfficiency_RD_2018_01-ver02
# swif2 run -workflow ReactionEfficiency_RD_2018_08-ver02
#
# 4) Check workflow or jobs (see https://scicomp.jlab.org/cli/status.html):
# swif2 status ReactionEfficiency_RD_2017_01-ver03
# swif2 status ReactionEfficiency_RD_2018_01-ver02
# swif2 status ReactionEfficiency_RD_2018_08-ver02
# swif2 show-job -jid <swif job ID>
#
# 5) Resubmit problematic jobs:
# swif2 retry-jobs ReactionEfficiency_RD_2017_01-ver03 -problems SLURM_CANCELLED SLURM_FAILED SLURM_NODE_FAIL SLURM_OUT_OF_MEMORY SLURM_TIMEOUT
# swif2 retry-jobs ReactionEfficiency_RD_2018_01-ver02 -problems SLURM_CANCELLED SLURM_FAILED SLURM_NODE_FAIL SLURM_OUT_OF_MEMORY SLURM_TIMEOUT
# swif2 retry-jobs ReactionEfficiency_RD_2018_08-ver02 -problems SLURM_CANCELLED SLURM_FAILED SLURM_NODE_FAIL SLURM_OUT_OF_MEMORY SLURM_TIMEOUT
#
# 6) Delete workflow
# swif2 cancel ReactionEfficiency_RD_2017_01-ver03 -delete
# swif2 cancel ReactionEfficiency_RD_2018_01-ver02 -delete
# swif2 cancel ReactionEfficiency_RD_2018_08-ver02 -delete
#
# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld       # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         production  # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            el9
USER                          bgrube

# JOB RESOURCES
NCORES                        16
DISK                          10GB
RAM                           8GB
TIMELIMIT                     4hrs

# JOB, SCRIPT CONTROL
SUBMITDIR                     /work/halld/bgrube/ProtonTrackEfficiency/ReactionEfficiency/launchPlugin
ENVFILE                       [SUBMITDIR]/env_HALLD_MY_launch.sh
SCRIPTFILE                    /group/halld/Software/builds/Linux_Alma9-x86_64-gcc11.4.1/hd_utilities/hd_utilities-1.48/launch_scripts/launch/script.sh

# WORKFLOW DEFINITION
# RUNPERIOD & VERSION: Not needed by launch.py: Only used to replace variables in this config

# Spring 2017
RUNPERIOD                     2017_01
VERSION                       03
RCDB_QUERY                    "@is_production and @status_approved"
JANA_CONFIG                   [SUBMITDIR]/jana_ReactionEfficiency_RD_2017_01-ver03.config
INDATA_TOPDIR                 /mss/halld/RunPeriod-2017-01/recon/ver03/REST

# # Spring 2018
# RUNPERIOD                     2018_01
# VERSION                       02
# RCDB_QUERY                    "@is_2018production and @status_approved"
# JANA_CONFIG                   [SUBMITDIR]/jana_ReactionEfficiency_RD_2018_01-ver02.config
# INDATA_TOPDIR                 /mss/halld/RunPeriod-2018-01/recon/ver02/REST

# # Fall 2018
# RUNPERIOD                     2018_08
# VERSION                       02
# RCDB_QUERY                    "@is_2018production and @status_approved and beam_on_current>49"
# JANA_CONFIG                   [SUBMITDIR]/jana_ReactionEfficiency_RD_2018_08-ver02.config
# INDATA_TOPDIR                 /mss/halld/RunPeriod-2018-08/recon/ver02/REST

# Spring 2020
# ReactionEfficiency plugin was already run as part of analysis launch ver08
# see https://halldweb.jlab.org/wiki-private/index.php/Spring_2020_Analysis_Launch#Version08

WORKFLOW                      ReactionEfficiency_RD_[RUNPERIOD]-ver[VERSION]

# OUTPUT DIRECTORIES
CACHE_PIN_DAYS                0  # max is 60, 0 or comment-out for none
OUTPATH                       ReactionEfficiency/RD/[RUNPERIOD]-ver[VERSION]
OUTDIR_LARGE                  /volatile/halld/home/[USER]/[OUTPATH]  # REST, skims, hists, trees
OUTDIR_SMALL                  /farm_out/[USER]/[OUTPATH]             # log files, IDXA
