# 1) Setup workflow:
# swif2 create ReactionEfficiency_bggen_2017_01-ver03_batch01
# swif2 create ReactionEfficiency_bggen_2018_01-ver02_batch01
# swif2 create ReactionEfficiency_bggen_2018_08-ver02_batch01
# workflow name has to match WORKFLOW entry in this file
#
# 2) Register jobs:
# for run periods see https://halldweb.jlab.org/wiki-private/index.php/GlueX_Phase-I_Dataset_Summary
# and https://halldweb.jlab.org/wiki-private/index.php/GlueX_Phase-II_Dataset_Summary
# and https://halldweb.jlab.org/wiki/index.php/Run_Periods
# Spring 2017: 338 runs
# ./launch.py --verbose=True jobs_ReactionEfficiency_bggen.config 30274 31057 &> ReactionEfficiency_bggen_2017_01-ver03_batch01.log
# Spring 2018: 542 runs
# ./launch.py --verbose=True jobs_ReactionEfficiency_bggen.config 40856 42559 &> ReactionEfficiency_bggen_2018_01-ver02_batch01.log
# Fall 2018: 496 runs (batch01 and batch02), 494 runs (batch03), 493 runs (batch04)
# ./launch.py --verbose=True jobs_ReactionEfficiency_bggen.config 50685 51768 &> ReactionEfficiency_bggen_2018_08-ver02_batch01.log
#
# 3) Run workflow:
# swif2 run -workflow ReactionEfficiency_bggen_2017_01-ver03_batch01
# swif2 run -workflow ReactionEfficiency_bggen_2018_01-ver02_batch01
# swif2 run -workflow ReactionEfficiency_bggen_2018_08-ver02_batch01
#
# 4) Check workflow or jobs (see https://scicomp.jlab.org/cli/status.html):
# swif2 status ReactionEfficiency_bggen_2017_01-ver03_batch01
# swif2 status ReactionEfficiency_bggen_2018_01-ver02_batch01
# swif2 status ReactionEfficiency_bggen_2018_08-ver02_batch01
# swif2 show-job -jid <swif job ID>
#
# 5) Resubmit problematic jobs:
# swif2 retry-jobs ReactionEfficiency_bggen_2017_01-ver03_batch01 -problems SLURM_CANCELLED SLURM_FAILED SLURM_NODE_FAIL SLURM_OUT_OF_MEMORY SLURM_TIMEOUT
# swif2 retry-jobs ReactionEfficiency_bggen_2018_01-ver02_batch01 -problems SLURM_CANCELLED SLURM_FAILED SLURM_NODE_FAIL SLURM_OUT_OF_MEMORY SLURM_TIMEOUT
# swif2 retry-jobs ReactionEfficiency_bggen_2018_08-ver02_batch01 -problems SLURM_CANCELLED SLURM_FAILED SLURM_NODE_FAIL SLURM_OUT_OF_MEMORY SLURM_TIMEOUT
#
# 6) Delete workflow
# swif2 cancel ReactionEfficiency_bggen_2017_01-ver03_batch01 -delete
# swif2 cancel ReactionEfficiency_bggen_2018_01-ver02_batch01 -delete
# swif2 cancel ReactionEfficiency_bggen_2018_08-ver02_batch01 -delete
#
# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld       # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         production  # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            general
USER                          bgrube

# JOB RESOURCES
NCORES                        16
DISK                          50GB
RAM                           14GB
TIMELIMIT                     8hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
# see https://halldweb.jlab.org/wiki/index.php/Simulations#General_2

# Spring 2017
# RUNPERIOD                     2017_01
# VERSION                       03
# BATCH                         01
# RCDB_QUERY                    "@is_production and @status_approved"
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch01_ver03_31_20220210010210pm/hddm/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch02_ver03_31_20220228053254pm/hddm/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch03_ver03_31_20220310021858pm/hddm/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch04_ver03_31_20220331023833pm/hddm/

# Spring 2018
RUNPERIOD                     2018_01
VERSION                       02
BATCH                         01
RCDB_QUERY                    "@is_2018production and @status_approved"
INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/S2018_bggen_ver02_23_batch01_20220103074512pm/hddm/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/S2018_bggen_ver02_23_batch02_20220112031820pm/hddm/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/S2018_bggen_ver02_23_batch03_20220116011619pm/hddm/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/S2018_bggen_ver02_23_batch04_20220128025756pm/hddm/

# Fall 2018
# RUNPERIOD                     2018_08
# VERSION                       02
# BATCH                         01
# RCDB_QUERY                    "@is_2018production and @status_approved and beam_on_current>49"
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/F2018_ver02_21_bggen_batch01_20211104064237pm/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/F2018_ver02_21_bggen_batch02_20211112094401am/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/F2018_ver02_21_bggen_batch03_20211130120410pm/
# INDATA_TOPDIR                 /mss/halld/gluex_simulations/REQUESTED_MC/F2018_ver02_21_bggen_batch04_20211205090407pm/

WORKFLOW                      ReactionEfficiency_bggen_[RUNPERIOD]-ver[VERSION]_batch[BATCH]

# JOB, SCRIPT CONTROL
SUBMITDIR                     /work/halld/bgrube/ProtonTrackEfficiency/ReactionEfficiency/launchPlugin
ENVFILE                       [SUBMITDIR]/env_HALLD_MY_launch.sh
SCRIPTFILE                    [SUBMITDIR]/script.sh
JANA_CONFIG                   [SUBMITDIR]/ReactionEfficiency.config
CACHE_PIN_DAYS                0  # max is 60, 0 or comment-out for none

# OUTPUT DIRECTORIES
OUTPATH                       ReactionEfficiency/MCbggen/[RUNPERIOD]-ver[VERSION]/batch[BATCH]
OUTDIR_LARGE                  /volatile/halld/home/[USER]/[OUTPATH]  # REST, skims, hists, trees
OUTDIR_SMALL                  /farm_out/[USER]/[OUTPATH]             # log files, IDXA
