# 1) Setup workflow:
# swif2 create ReactionEfficiency_bggen_2017_01-ver03_batch01
# workflow name has to match WORKFLOW entry in this file
#
# 2) Register jobs (338 runs):
# ./launch.py --verbose=True jobs_ReactionEfficiency_bggen.config 30274 31057 &> ReactionEfficiency_bggen_2017_01-ver03_batch01.log
#
# 3) Run workflow:
# swif2 run -workflow ReactionEfficiency_bggen_2017_01-ver03_batch01
#
# 4) Check workflow or jobs (see https://scicomp.jlab.org/cli/status.html):
# swif2 status ReactionEfficiency_bggen_2017_01-ver03_batch01
# swif2 show-job -jid <swif job ID>
#
# 5) Resubmit problematic jobs:
# swif2 retry-jobs ReactionEfficiency_bggen_2017_01-ver03_batch01 -problems SLURM_CANCELLED SLURM_FAILED SLURM_NODE_FAIL SLURM_OUT_OF_MEMORY SLURM_TIMEOUT
#
# 6) Delete workflow
# swif2 cancel ReactionEfficiency_bggen_2017_01-ver03_batch01 -delete
#
# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld       # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         production  # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            general
USER                          bgrube

# JOB RESOURCES
NCORES                        16
DISK                          50GB
RAM                           14GB
TIMELIMIT                     8hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017_01
VERSION                       03
BATCH                         01
WORKFLOW                      ReactionEfficiency_bggen_[RUNPERIOD]-ver[VERSION]_batch[BATCH]

# JOB, SCRIPT CONTROL
SUBMITDIR                     /work/halld/bgrube/ProtonTrackEfficiency/ReactionEfficiency
ENVFILE                       [SUBMITDIR]/env_HALLD_MY_launch.sh
SCRIPTFILE                    [SUBMITDIR]/script.sh
#RCDB_QUERY                    "@is_production and @status_approved"  # comment-out for all runs
JANA_CONFIG                   [SUBMITDIR]/ReactionEfficiency.config
CACHE_PIN_DAYS                0                                       # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch01_ver03_31_20220210010210pm/hddm/
# INDATA_TOPDIR     /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch02_ver03_31_20220228053254pm/hddm/
# INDATA_TOPDIR     /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch03_ver03_31_20220310021858pm/hddm/
# INDATA_TOPDIR     /mss/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch04_ver03_31_20220331023833pm/hddm/

# FOR FULL RECON LAUNCHES
OUTPATH           ReactionEfficiency/bggen_[RUNPERIOD]-ver[VERSION]/batch[BATCH]
OUTDIR_LARGE      /volatile/halld/home/[USER]/[OUTPATH]  # REST, skims, hists, trees
OUTDIR_SMALL      /farm_out/[USER]/[OUTPATH]             # log files, IDXA
